<template>
  <!-- https://www.figma.com/file/7VSzbmcT5GFyarcwu495md/Issuer-Portal?node-id=0%3A1 -->
  <AppMainCard
    text-root="verify"
    :type="type"
  >
    <div
      class="w-full md:w-3/4"
    >
      <VerificationSteps
        v-if="isValidating"
        :is-credential-valid="isCredentialValid"
      />
      <div
        v-else
        class="max-w-[20rem] m-auto"
      >
        <AppFlexCenterLayout column>
          <h1 class="mb-5 text-3xl font-black">
            {{ $t('requestCredentials.stepOneSubTitle') }}
          </h1>
        </AppFlexCenterLayout>
        <SSIFormSelection
          v-model="ssiWallet"
          :loading="loading"
          @click="verifyCredentials"
        />
      </div>
    </div>
  </AppMainCard>
</template>

<script lang="ts">
import Vue from 'vue'
import { StatusType } from '~/utility/constant'

export default Vue.extend({
  name: 'VerifyPage',
  data() {
    return {
      loading: false,
      isChecking: true,
      successStepOne: false,
      successStepTwo: false,
      isCredentialValid: false,
      isValidating: false,
      fail: false,
      ssiWallet: ''
    }
  },
  computed: {
    type() {
      if (this.successStepOne) { return StatusType.SUCCESS }
      if (this.fail) { return StatusType.ERROR }
      return StatusType.DEFAULT
    }
  },
  created() {
    const { accessToken } = this.$route.query

    if (!accessToken) {
      return
    }

    this.isValidating = true

    fetch('/api/verifier-api/auth?accessToken=7d61e282-ffc0-4dac-9ff1-dd93cf957ca5')
      .then(response => response.json())
      .then(data => {
        const requestOptions = {
          method: 'GET',
          Authorization: `Bearer ${data.auth_token}`

        }

        fetch('/api/verifier-api/protected', requestOptions)
          .then(response => response.json())
          .then(_result => {
            this.successStepOne = true
            this.isCredentialValid = _result
          })
      })
      .catch(err => {
        // eslint-disable-next-line no-console
        console.error(err)
      })
  },
  methods: {
    verifyCredentials() {
      const url = 'https://gaiax-portal.walt.id/verifier-api/present/?walletId=walt.id&schemaUri=https://raw.githubusercontent.com/walt-id/waltid-ssikit-vclib/master/src/test/resources/schemas/ParticipantCredential.json'
      window.open(url)
    }
  }
})
</script>

<style scoped>

</style>
