<template>
  <AppFlexCenterLayout class="h-full m-auto">
    <div class="card p-12 text-center shadow-2xl lg:card-side shadow-xl">
      <div v-if="success" class="rounded bg-indigo-500 text-lg p-4">
        {{ $t('onboardForm.success') }}
      </div>
      <form
        v-else
        class="w-full grid grid-cols-1 gap-y-6"
        @submit.prevent="sendForm"
      >
        <div v-if="errored" class="rounded bg-red-200 text-lg p-4">
          {{ $t('onboardForm.fail') }}
        </div>
        <div class="form-control">
          <label class="sr-only">
            <span class="label-text">
              {{ $t(email) }}*
            </span>
          </label>
          <input
            id="email"
            v-model="email"
            required
            name="email"
            :placeholder="`${$t('onboardForm.email')}*`"
            class="input input-bordered"
            :class="{ valid: !v$.email.$error && v$.email.$dirty, error: v$.email.$error }"
          >
          <div v-for="(error, index) in v$.email.$errors" :key="index" class="alert alert-error">
            <div class="flex-1">
              <ErrorIcon class="w-6 h-6 mx-2 stroke-current" />
              <label>{{ error.$message }}</label>
            </div>
          </div>
        </div>
        <div class="form-control">
          <label class="sr-only">
            <span class="label-text">
              {{ $t('onboardForm.ethAddress') }}*
            </span>
          </label>
          <input
            id="address"
            v-model="address"
            required
            name="address"
            :placeholder="`${$t('onboardForm.ethAddress')}*`"
            class="input input-bordered"
          >
          <div v-for="(error, index) in v$.address.$errors" :key="index" class="alert alert-error">
            <div class="flex-1">
              <ErrorIcon class="w-6 h-6 mx-2 stroke-current" />
              <label>{{ error.$message }}</label>
            </div>
          </div>
        </div>

        <div>
          <span class="inline-flex rounded-md shadow-sm">
            <button
              type="submit"
              :class="['btn btn-outline btn-accent glass font-bold',
                       { 'loading': loading }]"
            >
              {{ loading ? `${$t('onboardForm.submitting')}...` : $t('onboardForm.submit') }}
            </button>
          </span>
        </div>
      </form>
    </div>
  </AppFlexCenterLayout>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
import { ethers } from 'ethers'
import ErrorIcon from '../../assets/images/errorIcon.svg?inline'

export function validETHAddress(address: string) {
  try {
    ethers.utils.getAddress(address)
  } catch (e) { return false }
  return true
}

export default defineComponent({
  components: { ErrorIcon },
  setup() {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      loading: false,
      success: false,
      errored: false,
      email: '',
      address: ''
    }
  },
  validations() {
    return {
      email: { required, email },
      address: {
        required,
        address_validation: {
          $validator: validETHAddress,
          $message: this.$t('onboardForm.invalidEthAddressMessage')
        }
      }
    }
  },
  methods: {
    sendForm() {
      this.loading = true
      this.v$.$touch()
      if (this.v$.$invalid) {
        this.loading = false
        this.errored = true
        return
      }
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          email: this.email,
          address: this.address
        })
      }
      fetch('/api/accounts', requestOptions)
        .then(() => {
          this.success = true
          this.errored = false
        })
        .catch(() => {
          this.errored = true
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
})
</script>

<style scooped>
input::placeholder {
  text-transform: capitalize;
}
</style>
