<template>
  <footer class="p-4 mt-12 align-self-center footer bg-neutral bg-opacity-75 text-neutral-content">
    <div>
      <Logo class="fill-current" />
      <p>
        Gaia-X Lab
        <br>Fast prototyping.
      </p>
    </div>
    <div class="justify-self-center">
      <span class="footer-title">
        Contribute
      </span>
      <div class="grid grid-flow-col gap-4">
        <a href="https://gitlab.com/gaia-x/lab/compliance/gx-issuer-portal" target="_blank" rel="noopener noreferrer">
          GitLab
        </a>
      </div>
    </div>
    <LocaleSwitcher />
  </footer>
</template>

<script>
import Vue from 'vue'
import Logo from '../../assets/images/logo.svg?inline'
import LocaleSwitcher from '../LocaleSwitcher.vue'

export default Vue.extend({
  components: { Logo, LocaleSwitcher }
})
</script>
