<template>
  <div class="navbar px-16 py-8 bg-transparent text-neutral-content">
    <div class="flex-1">
      <NuxtLink :to="localePath('/')">
        <span class="text-5xl font-extrabold text-blue">
          Gaia-X <span class="text-purple">
            Lab
          </span>
        </span>
      </NuxtLink>
    </div>
    <!-- Mobile Nav -->
    <div class="flex justify-end flex-1 xl:hidden">
      <div class="flex items-stretch">
        <div class="dropdown dropdown-end">
          <label
            tabindex="0"
            class="flex content-center btn btn-primary rounded-btn p-6 text-white"
          >
            <HamburgerButton />
          </label>
          <ul
            tabindex="0"
            class="p-2 shadow menu dropdown-content
            bg-base-100 rounded-box w-52 mt-4 text-blue"
          >
            <li
              v-for="(link, i) in navbarLinks"
              :key="i"
            >
              <NuxtLink
                :to="localePath(link.path)"
              >
                {{ $t(`navbar.${link.name}`) }}
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Mobile Nav End -->
    <!-- Desktop Nav -->
    <div class="flex-none hidden xl:flex">
      <div class="flex items-stretch gap-20">
        <NuxtLink
          v-for="(link, i) in navbarLinks"
          :key="i"
          :to="localePath(link.path)"
          class="flex content-center btn btn-primary btn-sm rounded-btn p-6 text-lg"
        >
          {{ $t(`navbar.${link.name}`) }}
        </NuxtLink>
      </div>
    </div>
    <!-- Desktop Nav End -->
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import HamburgerButton from '../../assets/images/hamburger-button.svg?inline'

export default Vue.extend({
  components: { HamburgerButton },
  data() {
    return {
      navbarLinks: [
        { name: 'registration', path: '/registration' },
        { name: 'verify', path: '/verify' },
        { name: 'requestCredentials', path: '/request-credentials' }
      ]
    }
  }
})
</script>
