<template>
  <!-- https://www.figma.com/file/7VSzbmcT5GFyarcwu495md/Issuer-Portal?node-id=0%3A1 -->
  <AppMainCard
    text-root="registration"
    :type="type"
  >
    <RegistrationFeedback
      v-if="success || fail"
      :button-text="$t('registration.back')"
      :success="success"
      text-root="registration.infoCard"
      @click="pageRefresh"
    />
    <RegistrationForm
      v-else
      v-model="email"
      :has-error="formHasError"
      :errors="formErrors"
      :loading="loading"
      :valid-form="validForm"
      @click="sendForm"
    />
  </AppMainCard>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import useVuelidate, { ErrorObject } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
import { StatusType } from '~/utility/constant'

export default defineComponent({
  name: 'RegistrationPage',
  setup() {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      email: '',
      fail: false,
      formErrors: [] as ErrorObject[],
      formHasError: false,
      loading: false,
      success: false,
      timeout: 0,
      validForm: false
    }
  },
  validations() {
    return {
      email: { required, email }
    }
  },
  computed: {
    type() {
      if (this.success) { return StatusType.INFO }
      if (this.fail) { return StatusType.ERROR }
      return StatusType.DEFAULT
    }
  },
  watch: {
    email() {
      this.v$.$touch()
      this.validForm = !this.v$.$invalid
      this.debounceEmailInput()
    }
  },
  beforeUnmount() { clearInterval(this.timeout) },
  methods: {
    debounceEmailInput() {
      if (this.validForm) {
        this.formHasError = false
        this.formErrors = []
      }
      if (this.timeout) { clearTimeout(this.timeout) }

      this.timeout = window.setTimeout(() => {
        this.formHasError = this.v$.email.$error
        this.formErrors = this.v$.email.$errors
      }, 1000)
    },
    sendForm() {
      if (this.success) { return }
      this.loading = true
      if (!this.validForm) {
        this.loading = false
        return
      }
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          email: this.email
        })
      }
      fetch('/api/accounts', requestOptions)
        .then(() => {
          this.success = true
        })
        .catch(() => {
          this.fail = true
        })
        .finally(() => {
          this.loading = false
        })
    },
    pageRefresh() {
      window.location.reload()
    }
  }
})
</script>

<style>
</style>
