<template>
  <!-- https://www.figma.com/file/7VSzbmcT5GFyarcwu495md/Issuer-Portal?node-id=0%3A1 -->
  <AppMainCard
    :is-loading="isChecking"
    text-root="requestCredentials"
    :type="type"
  >
    <RegistrationFeedback
      v-if="fail"
      :button-text="$t('requestCredentials.newLink')"
      text-root="requestCredentials.infoCard"
      @click="navigateTo('/registration')"
    />
    <div
      v-if="!fail"
      class="w-full md:w-3/4"
    >
      <div v-if="successStepOne" class="flex flex-col">
        <AppFlexCenterLayout column>
          <h1 class="mb-5 text-3xl font-black">
            {{ $t('requestCredentials.stepOneSubTitle') }}
          </h1>
        </AppFlexCenterLayout>
        <AppFlexCenterLayout v-if="successStepTwo">
          <AppInfoCard
            class="w-4/5"
            alert-type="success"
            text-root="requestCredentials.infoCard"
          />
        </AppFlexCenterLayout>
        <div v-else class="justify-center card-actions">
          <AppButton
            class="w-3/5"
            :display-text="$t('requestCredentials.issueCredential')"
            :is-loading="loading"
            @click="issueCredentials"
          />
        </div>
      </div>
      <SSIFormSelection
        v-else
        v-model="ssiWallet"
        class="max-w-[20rem] m-auto"
        :loading="loading"
        success
        @click="sendForm"
      />
    </div>
  </AppMainCard>
</template>

<script lang="ts">
import Vue from 'vue'
import { StatusType } from '~/utility/constant'

export default Vue.extend({
  name: 'RequestCredentialsPage',
  data() {
    return {
      loading: false,
      isChecking: true,
      successStepOne: false,
      successStepTwo: false,
      fail: false,
      ssiWallet: ''
    }
  },
  computed: {
    type() {
      if (this.successStepOne) { return StatusType.SUCCESS }
      if (this.fail) { return StatusType.ERROR }
      return StatusType.DEFAULT
    }
  },
  created() {
    this.isChecking = true
    const { activationLink } = this.$route.query
    const requestOptions = {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        activationLink
      })
    }

    fetch('/api/activate', requestOptions)
      .then(response => response.json())
      .then(isValidLink => {
        this.fail = !isValidLink
      })
      .catch(() => {
        this.fail = true
      })
      .finally(() => {
        this.isChecking = false
      })
  },
  methods: {
    sendForm() {
      if (this.successStepOne || this.ssiWallet === '') { return }

      this.loading = true
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          ssiWallet: this.ssiWallet
        })
      }
      fetch('/api/accounts', requestOptions)
        .then(() => {
          this.successStepOne = true
        })
        .catch(() => {
          this.fail = true
        })
        .finally(() => {
          this.loading = false
        })
    },
    issueCredentials() {
      this.loading = true
      const requestOptions = {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          ssiWallet: this.ssiWallet
        })
      }
      fetch('/api/accounts', requestOptions)
        .then(() => {
          this.successStepTwo = true
        })
        .catch(() => {
          this.fail = true
        })
        .finally(() => {
          this.loading = false
        })
    }
  }
})
</script>
