<template>
  <div
    class="alert flex flex-col justify-center items-baseline"
    :class="alertSelector"
  >
    <h2 class="card-title">
      {{ textRoot ? $t(`${textRoot}.${alertType}.title`) : title }}
    </h2>
    <p class="text-left">
      {{ textRoot ? $t(`${textRoot}.${alertType}.text`) : text }}
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { StatusType } from '~/utility/constant'

export default Vue.extend({
  props: {
    title: { type: String, default: '' },
    text: { type: String, default: '' },
    textRoot: { type: String, default: '' },
    alertType: {
      validator(value) {
      // The value must match one of these strings
        return [
          StatusType.ERROR,
          StatusType.INFO,
          StatusType.SUCCESS,
          StatusType.DEFAULT
        ].includes(value)
      },
      default: StatusType.DEFAULT
    }
  },
  computed: {
    alertSelector() {
      switch (this.alertType) {
      case StatusType.ERROR:
        return 'alert-error'
      case StatusType.INFO:
        return 'alert-info'
      case StatusType.SUCCESS:
        return 'alert-success'
      default:
        return null
      }
    }
  }
})
</script>
