<template>
  <form
    @submit.prevent
  >
    <AppFlexCenterLayout column>
      <label class="pb-2 w-full capitalize text-center">
        {{ $t('requestCredentials.selectLabel') }}
      </label>
      <AppSelect
        v-model="ssiWallet"
        class="w-4/5"
        :options="ssiWalletOptions"
        placeholder="Pick a SSI wallet"
      />
    </AppFlexCenterLayout>
    <div class="justify-center card-actions ">
      <AppButton
        class="w-4/5"
        :display-text="$t('verify.submit')"
        :is-loading="loading"
        :disabled="disableButton"
        v-on="$listeners"
      />
      <AppFlexCenterLayout
        v-show="success"
        class="mt-8"
      >
        <AppInfoCard
          alert-type="success"
          text-root="requestCredentials.infoCard.confirmed"
        />
      </AppFlexCenterLayout>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SSIFormSelection',
  props: {
    loading: { type: Boolean, default: false },
    success: { type: Boolean, default: false },
    value: { type: String, default: '' }
  },
  data() {
    return {
      ssiWalletOptions: [
        { name: 'SSI Option 1', value: 'ssiOption1' },
        { name: 'SSI Option 2', value: 'ssiOption2' }
      ]
    }
  },
  computed: {
    ssiWallet: {
      get(): string { return this.value },
      set(ssiWallet: string) { this.$emit('input', ssiWallet) }
    },
    disableButton(): boolean {
      return this.value === ''
    }
  }
})
</script>
