<template>
  <div>
    <AppFlexCenterLayout column>
      <h1 class="mb-5 text-3xl font-black">
        {{ $t('requestCredentials.stepOneSubTitle') }}
      </h1>
    </AppFlexCenterLayout>
    <div class="steps m-auto mb-8">
      <ul>
        <li
          v-for="(step, i) in verificationSteps"
          :key="`${step.value}-${i}`"
          class="p-2"
        >
          <AppSpinnerText
            :status="step.status"
            :message="$t(`verify.verificationSteps.${step.value}`)"
          />
        </li>
      </ul>
    </div>
    <AppFlexCenterLayout class="m-auto">
      <AppInfoCard
        class="w-4/5"
        v-bind="appInfoCardProps"
      />
    </AppFlexCenterLayout>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { StatusType } from '~/utility/constant'

export default Vue.extend({
  name: 'VerificationSteps',
  props: {
    isCredentialValid: { type: Boolean, default: false }
  },
  data() {
    return {
      verificationSteps: [
        { value: 'awaitPresentation', status: 'success' },
        { value: 'authenticateDID', status: 'fail' },
        { value: 'verifyCredential', status: 'loading' },
        { value: 'verifyCredential', status: 'waiting' }
      ]
    }
  },
  computed: {
    appInfoCardProps() {
      return this.isCredentialValid
        ? { alertType: StatusType.SUCCESS, textRoot: 'requestCredentials.infoCard.confirmed' }
        : { alertType: StatusType.ERROR, textRoot: 'requestCredentials.infoCard' }
    }
  }
})
</script>

<style scoped>
.steps {
  /* using w-fit doesn't work for some reason */
  width: fit-content;
}
</style>
