<template>
  <div>
    <div class="grid grid-cols-[auto,1fr] gap-2 items-center">
      <component :is="statusIcon" />
      <h2 :class="['justify-self-start', {'text-light-grey': status === 'waiting'}]">
        {{ message }}
      </h2>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import CheckIcon from '../../assets/images/check.svg?inline'
import CrossIcon from '../../assets/images/cross.svg?inline'
import LoadIcon from './LoadIcon.vue'

export default Vue.extend({
  name: 'AppSpinnerText',
  components: {
    CrossIcon,
    CheckIcon,
    LoadIcon,
    WaitSpan: { template: '<span class="w-8 h-8" />' }
  },
  props: {
    message: { type: String, default: '' },
    status: {
      validator(value) {
        return ['loading', 'success', 'fail', 'waiting'].includes(value)
      },
      default: 'waiting'
    }
  },
  computed: {
    statusIcon() {
      switch (this.status) {
      case 'loading':
        return LoadIcon
      case 'success':
        return CheckIcon
      case 'fail':
        return CrossIcon
      case 'waiting':
        return this.$options.components?.WaitSpan
      default:
        return this.$options.components?.WaitSpan
      }
    }
  }
})
</script>

<style scooped>
svg {
  height: 2rem;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1.5s ease-in-out forwards;
  animation: dash 1.5s ease-in-out forwards;
}
.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 1.5s ease-in-out forwards;
  animation: dash-check 1.5s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
</style>
