<template>
  <AppFlexCenterLayout class="justify-self-end w-8 h-8">
    <div
      style="border-top-color:transparent"
      class="w-5 h-5 border-2 border-primary border-solid rounded-full animate-spin"
    />
  </AppFlexCenterLayout>
</template>
