<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="flex flex-col min-h-screen">
    <WaveBackground class="w-full h-full fixed top-0 left-0 z-[-1]" />
    <TheNavbar />
    <div class="contents flex-1">
      <Nuxt />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import global from '~/mixins/global'
import TheNavbar from '../components/layout/TheNavbar.vue'
import WaveBackground from '../assets/images/waves-bg.svg?inline'

Vue.mixin(global)
export default {
  components: { TheNavbar, WaveBackground }
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

</style>
