<template>
  <AppFlexCenterLayout class="h-full m-auto justify-between homepage:w-10/12 max-w-[120rem]">
    <AppFlexCenterLayout
      column
      class="small-homepage:m-8 homepage:ml-16 p-8 max-w-[40rem] homepage:w-1/2 w-full gap-8
        small-homepage:card small-homepage:bg-white small-homepage:shadow-2xl"
    >
      <div class="text-center homepage:text-left">
        <h1 class="mb-4 text-5xl font-bold text-purple">
          {{ $t('title') }}
        </h1>
        <h4 class="homepage:w-4/5 text-lg">
          {{ $t('subtitle') }}
        </h4>
      </div>
      <div
        class="flex flex-col homepage:place-self-start gap-4"
      >
        <button
          class="btn btn-outline btn-primary w-64"
          @click="() => $router.push('/registration')"
        >
          Register Credential
        </button>
        <button
          class="btn btn-outline btn-primary w-64"
          @click="() => $router.push('/verify')"
        >
          Verify Credential
        </button>
      </div>
    </AppFlexCenterLayout>
    <div class="ml-16 w-1/2 hidden homepage:block">
      <img
        src="../assets/images/data-security.png"
        class="w-full max-w-[40rem] ml-auto"
      >
    </div>
  </AppFlexCenterLayout>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage'
})
</script>
